body {
     background-color: #313131;  /*this color is used for testing on the web*/
    /* background-color: #282828; */
    font-family: Montserrat;
    font-size: 16px;
    color: #FAFAFA;
    padding: 25px;
    max-width: 1400px;
}

.container {
    display: flex;
    flex-direction: column;
    /* gap: 20vh; */

/* display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    justify-content: space-around;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . social"
        "intro intro intro intro"; */
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    /* background: #FAFAFA; */
}

/* .navbar.sticky  {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
} */

.d-logo {
    height: 25px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-toggler {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-toggler-icon {
    width: 28px;
}

.nav-menu {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style-type: none;
}

.nav-item a {
    color: #FAFAFA;
    text-decoration: none;
    position: relative;
    /* background-color: #313131; */
}

.nav-item a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #FAFAFA;
    transition: .35s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.nav-item a:hover::after {
    transform: scaleX(1);
}

.social {
    display: flex;
    justify-content: center;
    position: relative;
    left: 25px;
    /* overflow: hidden; */
    /* grid-column-start: 4; */
}

.social-placeholder {
    width: 95px;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 31px;
    position: absolute;
    top: 34px;
    right: 26px;
    width: 25px;
}

.main-text {
    line-height: calc(1.2 * 10vw);
    text-align: right;
    font-size: 11vw;
    width: 100%;
    margin: 0;
    /* grid-column-start: 1;
    grid-column-end: -1; */
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    row-gap: 6vh;
    height: 69vh;

    /* display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    place-content: center;
    justify-items: end;
    align-content: space-between;
    justify-content: end;
    row-gap: 6vh;
    height: 71vh; */
}

@media (max-width: 767px) {

    .dropdown-menu {
        width: 100%;
        padding-top: 30px;
        position: absolute;
    }

    .navbar-toggler {
        display: flex; 
    }
    .nav-menu {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20vh;
    }

    .navbar .nav-menu {
        width: 100%;
        flex-direction: column;
    }

    .nav-menu .nav-item {
        width: 100%;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

}